body {
    margin: 0;
    overflow: hidden;
}

#label {
    position: absolute;
    padding: 2%;
    width: 15%;
    text-align: center;
    font-size: 40px;
    background: rgba(255, 255, 255, 0.6);
    line-height: 1;
    border-radius: 25px;
}
#reset-camera{
    position: absolute;
    padding: 2%;
    width: 15%;
    right: 0.1%;
    top: 0.1%;
    text-align: center;
    font-size: 30px;
    background: rgba(255, 255, 255, 0.6);
    line-height: 1;
    border-radius: 15px;
    cursor: pointer;
}